= "Rent created at: #{ @rent.created_at } \n" 
= "----------------------------------------------\n"
= "Details of book \n"
= "Title: #{@book.title} \n"
= "Author: #{@book.author}\n"
= "Genre: #{@book.genre}\n"
= "Editor: #{@book.editor}\n"
= "Year: #{@book.year}\n"

= "----------------------------------------------\n"
= "Rent \n" 
= "From: #{@rent.start_date}\n"
= "To: #{@rent.end_date}\n"

